@using ReportViewerForMvc;


@{
    ViewBag.Title = "LocalReportExample";
}


<h2>Bitacora General de Workflow</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)


